In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('data/first_snow.csv', sep=';')

In [5]:
data.head()

                  date       station  snowdepth_mm
0  1982-10-06 00:00:00    LIBEREC EZ           409
1  1983-10-18 00:00:00  LYSA HORA EZ            20
2  1984-10-17 00:00:00  LYSA HORA EZ            10
3  1985-11-02 00:00:00  LYSA HORA EZ            30
4  1986-09-23 00:00:00  LYSA HORA EZ          2159